PORT=3003
FRONTEND_URL=http://localhost:3001,https://frontend-ars-finance.vercel.app
DATABASE_URL=postgresql://postgres:SUA_SENHA@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require
CLIENT_ID=your_pluggy_client_id
CLIENT_SECRET=your_pluggy_client_secret
